body {
	font-family : Arial, sans-serif;
}

.box {
	width         : 250px;
	height        : 250px;
	border        : 1px solid #333;
	color         : #EEE;
	padding       : 20px;
	box-sizing    : border-box;
	margin-bottom : 20px;
}

.red {
	background : crimson;
}

button {
	padding       : 10px 20px;
	border-radius : 6px;
	border        : 1px solid #4444;
	color         : #555;
}
